.container {
    width: 100%;
    display: flex;
    align-items: center;

    .mat-form-field {
        flex: 1;
        margin-right: 16px;
    }

    .delete-btn {
        margin-left: 16px;
    }

    .type-container {
        flex: none;
        width: 120px;
    }

    .target-temperature-container {
        flex: none;
        width: 120px;
    }
}